<!-- views/static_pages/index.html.erb -->
<h1><%= t 'welcome' %></h1>

<p>We provide some fancy services to <em>good people</em>.</p>

<!-- views/static_pages/index.html.erb -->
<!-- ... --->

<p><%= t 'services_html' %></p>
<!-- <p><%= t 'Ruby on Rails Tutorial Sample App' %></p>
<p><%= t 'Feedback was successfully updated.' %></p>
<p><%= t 'prohibited this feedback from being saved:' %></p> -->
<h1><%= t 'Feedbacks' %></h1>






